* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

body {
    background-color: #ffffff;
}

header {
    background-image: url(assets/images_page_home/fondo_img.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu .logo {
    font-weight: 700;
    font-size: 25px;
    color: white;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #FE7D89;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
}

.contenido {
    padding: 150px 150px 0px 0px;
}

.content h1 {
    color: white;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 55px;
}

.content p {
    margin-top: 25px;
    color: white;
    text-transform: initial;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.btn-1 {
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 35px 10px 0px 0px;
    padding: 10px 20px;
    color: #F6D341;
    font-weight: bold;
}

.btn-1:hover {
    color: #FE7D89;
}

.nosotros h2 {
    margin-top: 40px;
    color: #F6D341;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
}

.nosotros h3 {
    margin-top: 20px;
    color: #F6D341;
    text-transform: initial;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.nosotros p {
    margin-top: 20px;
    color: #373737;
    text-transform: initial;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    width: 630px;
    text-align: left;
    letter-spacing: 1px;
}

.voluntariados h2 {
    margin-top: 80px;
    color: #FE7D89;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
}

.voluntariados p {
    margin-top: 20px;
    color: #373737;
    text-transform: initial;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    width: 630px;
    text-align: left;
    letter-spacing: 1px;
}

.voluntariados img {
    width: 350px;
    margin-top: 50px;
}

.voluntario {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.btn-2 {
    display: inline-block;
    background-color: #FE7D89;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 35px 10px 0px 0px;
    padding: 10px 20px;
    color:white;
    font-weight: bold;
}

.btn-2:hover {
    color: #FE7D89;
    background-color:white;
}

.donaciones {
    padding: 80px 0px;
    text-align: center;
}

.donacion {
    text-align: left;
    display: flex;
}

.donaciones h2 {
    margin-bottom: 35px;
    color:  #85DDDF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
}

.donacion p {
    margin-bottom: 25px;
    color: #373737;
    text-transform: initial;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    width: 500px;
    letter-spacing: 1px;
}

.donaciones img {
    width: 500px;
}


footer {
    padding: 200px 0px 30px 0px;
    background-image: url(assets/images_page_home/footer_img.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacto {
    display: flex;
}

.contacto-content {
    padding: 35px;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    margin: 0px 15px 0px 0px ;
    color: #373737;
}

.contacto-content h2 {
    margin-bottom: 10px;
    color: #F6D341;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    text-align: left;
}

.actividades-txt {
    margin-left: 35px;
    color: #f5f5f5;
}

hr{
    margin: 45px 0px;
    border: 0.5px solid #f5f5f5;
}

.enlaces {
    display: flex;
    justify-content: space-between;
    color: #f5f5f5 ;
}

.enlaces h3 {
    font-size: 25px;
}

.enlace {
    display: flex;
}

.enlace li a {
    display: block;
    margin: 20px;
    color: #f5f5f5;
}
.enlace li a:hover {
    color: #F6D341;
}