* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Atkinson Hyperlegible', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgb(130, 106, 251);
}

.container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header {
    font-size: 30px;
    font-weight: 600;
    color: #373737;
    font-weight: 500;
    text-align: center;
}

.container .form {
    margin-top: 30px;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #373737;
    font-size: 18px;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 16px;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #a8a8a8;
    border-radius: 6px;
    padding: 0 15px;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column1 {
    display: flex;
    column-gap: 15px;
    width: 96%;
}

.form .column {
    display: flex;
    column-gap: 15px;
    width: 100%;
}

.form .gender-box {
    margin-top: 20px;
}

.gender-box h3 {
    color:#373737;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;

}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender {
    column-gap: 5px;
}

.gender input {
    accent-color: rgb(130, 106, 251);
}

.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.gender label {
    color: #707070;
}

.addres :where(input, .select-box) {
    margin-top: 15px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 16px;
}

.button-modal {
    display: flex;
}

.button-modal label {
    height: 55px;
    width: 100%;
    background-color: rgb(130, 106, 251);
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border-radius: 4px;
    margin-top: 30px;
    cursor: pointer;
    transition: all 300ms ease;
}

.button-modal label:hover {
    background-color: rgb(96, 77, 189);
}

#btn-modal{
    display: none;
}

.container-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal:checked ~ .container-modal {
    display: flex;
}

.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
}

.container-modal h2 {
    margin-bottom: 15px;
    text-align: center;
}
.container-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.container-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.container-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: rgb(130, 106, 251);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}

.container-modal .btn-cerrar label:hover{
    background-color: rgb(96, 77, 189);
}

@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }

    .form .column1 {
        flex-wrap: wrap;
    }

    .form :where(.gender-option, .gender) {
        row-gap: 15px;
    }

    .content-modal{
        width: 90%;
    }
}