* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

body {
    background-color: white;
}

header {
    background-image: url(assets/images_page_home/fondo1_img.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

input{
    display: none;
}

.menu .logo {
    font-weight: 700;
    font-size: 25px;
    color: #222222;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    color: #222222;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #000000
}


.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
}

.contenido {
    padding: 150px 150px 0px 0px;
}

.content h1 {
    color: #222222;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 55px;
}

.content p {
    margin-top: 25px;
    color: #222222;
    text-transform: initial;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.btn-1 {
    display: inline-block;
    background-color:#df3c8e;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 35px 10px 0px 0px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.btn-1:hover {
    color: white;
    background-color: #e0137a;
}

.nosotros .container {
    display:flex;
    justify-content: left;
}

.nosotros-1 {
    float:left;
    margin: 0 auto;
    padding: 1%;
    height: auto;
    width: 50%;
}

.nosotrosimg {
    float: right;
    margin: 0 auto;
    padding: 1%;
    height: auto;
    width: 50%;
}

.nosotros h2 {
    margin-top: 80px;
    color: #0ea8c1;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.nosotros h3 {
    margin-top: 20px;
    color: #0ea8c1;
    text-transform: initial;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.nosotros p {
    margin-top: 20px;
    color: #222222;
    text-transform: initial;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    width: 100%;
    text-align: left;
    letter-spacing: 1px;
}

.nosotros img {
    width: 500px;
}


.voluntariados h2 {
    margin-top: 200px;
    color: #df3c8e;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
}

.voluntariados p {
    margin-top: 20px;
    color: #222222;
    text-transform: initial;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    width: 50%;
    text-align: left;
    letter-spacing: 1px;
}

.voluntariados img {
    width: 350px;
    margin-top: 50px;
}

.voluntario {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 60px;
}

.btn-2 {
    display: inline-block;
    background-color: #df3c8e;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 35px 10px 0px 0px;
    padding: 10px 20px;
    color:white;
    font-weight: bold;
}

.btn-2:hover {
    color: white;
    background-color:#e0137a;
}

.donaciones .container {
    display:flex;
    justify-content: left;
}

.donaciones-1 {
    float:left;
    margin: 0 auto;
    padding: 1%;
    height: auto;
    width: 54%;
   
}

.donaciones img {
    float: right;
    margin: 0 auto;
    padding: 1%;
    height: auto;
    width: 42%;
   
}

.donaciones h2 {
    margin-top: 40px;
    color: #0ea8c1;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.donaciones p {
    margin-top: 20px;
    color: #222222;
    text-transform: initial;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    width: 100%;
    text-align: left;
    letter-spacing: 1px;
}

.donaciones-1 ul li{
    margin-top: 20px;
    margin-left: 20px;
    line-height: 0.5;
    font-size: 18px;
    color: #222222;
    list-style-type: circle;
    list-style-position: inside;
}


footer {
    padding: 200px 0px 30px 0px;
    background-image: url(assets/images_page_home/footer1_img.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 550px;
}

.contacto {
    display: flex;
}

.contacto-content {
    padding: 35px;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    margin: 0px 15px 0px 0px ;
    color: #222222;
}

.contacto-content h2 {
    margin-bottom: 10px;
    color: #fe8100;
    text-transform: initial;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}

.correo {
    font-size: 14px;
    color: #e47403 !important;
    margin-bottom: 10px;
}

.contacto-content p {
    font-size: 16px;
    color: #222222;
    text-transform: initial;
}

.actividades-txt {
    padding: 35px;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    margin: 0px 15px 0px 0px ;
    color: #222222;
}

.actividades-txt h2 {
    margin-bottom: 10px;
    color: #df3c8e;
    text-transform: initial;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}

.actividades-txt p {
    font-size: 16px;
    color: #222222;
    text-transform: initial;
}

hr{
    margin: 45px 0px;
    border: 0.5px solid #222222;
}

.enlaces {
    display: flex;
    justify-content: space-between;
    color: #222222 ;
}

.enlaces h3 {
    font-size: 25px;
}

.enlace {
    display: flex;
}

.enlace li a {
    display: block;
    margin: 20px;
    color: #222222;
    font-weight: bold;
}
.enlace li a:hover {
    color: #000000;
}

@media (max-width:991px) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #F6D341;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }
    
    #menu:checked ~ .navbar {
        display: initial;
    }

    header {
        height: 0vh;
        padding: 400px 0px;
        background-position: center center;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0px 30px;
    }

    .content {
        padding: 0px;
    }

    .content h1 {
        margin-top: 10px;
        font-size: 35px;
    }

    .content p {
        margin-top: 10px;
        font-size: 18px;
    }

    .header-content img {
        width: 280px;
    }

    .nosotros {
        padding: 0px 30px 30px 30px;
    }

    .nosotros h2 {
        margin-bottom: 15px;
        text-align: left;
    }

    .nosotro {
        flex-direction: column;
    }

    .nosotros img {
        width: 100%;
    }

    .nosotro-1 h3 {
        text-align: left;
        margin: 0px 0px 25px 0px;
    }

    .nosotro-1 p {
        text-align: left;
        margin: 0px 0px 25px 0px;
    }

    .nosotros-1 {
        padding: 0;
        width: 100%;
    }

    .voluntariados {
        padding: 0px 30px 30px 30px;
    }

    .voluntariado h2 {
        margin-bottom: 15px;
        text-align: left;
    }

    .voluntariado p {
        text-align: left;
        margin: 0px 0px 25px 0px;
    }

    .voluntariados .container {
        flex-direction: column;
        padding: 50px 30px 0px 30px;
    }

    .voluntariado .container {
        margin-bottom: 50px;
    }

    .donaciones .container {
        padding: 0px 30px 30px 30px;
    }

    .donaciones h2 {
        margin-bottom: 15px;
        text-align: left;
    }

    .donacion {
        flex-direction: column;
    }

    .donaciones-1 {
        padding: 0;
        width: 100%;
    }

    .donaciones img {
        display: none;
        width: 100%;
    }

    .donaciones-1 h3 {
        text-align: left;
        margin: 0px 0px 25px 0px;
    }

    .donaciones-1 p {
        text-align: left;
        margin: 0px 0px 25px 0px;
    }


    footer {
        padding: 0px 30px 30px 30px;
    }


    .contacto {
        flex-direction: column;
        text-align: center;
    }

    .contacto-content {
        width: 100%;
        margin: 0px 0px 15px 0px;
        padding-top: 30px;
    }

    .contacto-correo {
        margin: 0px 0px 10px 0px;
    }

    .actividades-txt {
        width: 100%;
        margin: 0px;
        padding-top: 30px;
    }

    hr {
        margin: 25px 0px;
    }

    .enlaces {
        flex-direction: column;
        align-items: center;
    }

    .enlace {
        flex-direction: column;
    }



}